[submodule "external/reshade"]
	path = external/reshade
	url = https://github.com/pmnoxx/reshade.git
	branch = main

[submodule "external/gtl"]
	path = external/gtl
	url = https://github.com/pmem/gtl

[submodule "external/Streamline"]
	path = external/Streamline
	url = https://github.com/NVIDIA/Streamline
[submodule "external/nvapi"]
	path = external/nvapi
	url = https://github.com/NVIDIA/nvapi
[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "external/XInput_HID"]
	path = external/XInput_HID
	url = https://github.com/SpecialKO/XInput_HID.git
[submodule "external/nvidia-dlss"]
	path = external/nvidia-dlss
	url = https://github.com/NVIDIA/DLSS.git
