[submodule "external/reshade"]
	path = external/reshade
	url = https://github.com/pmnoxx/reshade.git
	branch = feat/present_flags

[submodule "external/gtl"]
	path = external/gtl
	url = https://github.com/pmem/gtl

[submodule "external/SpecialK"]
	path = external/SpecialK
	url = https://github.com/SpecialKO/SpecialK

[submodule "external/Streamline"]
	path = external/Streamline
	url = https://github.com/NVIDIA/Streamline
[submodule "external/nvapi"]
	path = external/nvapi
	url = https://github.com/NVIDIA/nvapi
[submodule "external/xinp"]
	path = external/xinp
	url = https://github.com/BlueSkyDefender/Xinp.git
[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "external/xinput_hid"]
	path = external/xinput_hid
	url = https://github.com/SpecialKO/XInput_HID.git
[submodule "external/XInput_HID"]
	path = external/XInput_HID
	url = https://github.com/SpecialKO/XInput_HID.git
