[submodule "external/reshade"]
	path = external/reshade
	url = https://github.com/pmnoxx/reshade.git
	branch = main

[submodule "external/gtl"]
	path = external/gtl
	url = https://github.com/pmem/gtl

[submodule "external/SpecialK"]
	path = external/SpecialK
	url = https://github.com/SpecialKO/SpecialK

[submodule "external/Streamline"]
	path = external/Streamline
	url = https://github.com/NVIDIA/Streamline
