# CMake build directories
build/
build32/
out/
_build/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json

# Visual Studio
.vs/
*.sln
*.vcxproj*

# IDE metadata
.idea/
.vscode/

# OS junk
Thumbs.db
Desktop.ini

# Binary outputs
*.dll
*.pdb
*.lib
*.exp
*.iobj
*.ipdb
*.obj
*.ilk

# Logs
*.log

bd.ps1

# tmp
tmp/

# cache
.cache/